{% extends 'main/base.html' %}

{% block title %}
  Сметы
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="estimate-table" class="table table-sm table-bordered table-striped table-hover table-header-sm">
    <thead>
      <tr>
        <th style="width: 2rem">ID</th>
        <th style="width: 6rem">Наименование пункта сметы</th>
        <th style="width: 8rem">Отчетный год</th>
        <th style="width: 7rem">Период с</th>
        <th style="width: 7rem">Период по</th>
        <th style="width: 7rem">Сумма план</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      var estimateTable = $('#estimate-table').DataTable({
        ajax: {
          url: "{% url 'estimate-list' %}",
          data: function (d) {
            d.format = 'datatables'
          }
        },
        rowId: 'id',
        columns: [
          {
            data: 'xv26eiId'
          },
          {
            data: 'xv26eihName'
          },
          {
            data: 'xv26eicYear'
          },
          {
            data: 'xv26eihDateBegin'
          },
          {
            data: 'xv26eihDateEnd'
          },
          {
            data: 'xv26eirSumPlan'
          }
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-upload me-2"></i>&nbsp;Загрузить',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              const alertEl = $('.alert')
              $.get("{% url 'estimates' %}/load", function (e) {
                alertEl.attr('class', 'alert alert-success')
                alertEl.html(e)
              })
                .fail(function (e) {
                  alertEl.attr('class', 'alert alert-danger')
                  alertEl.html(e.responseText)
                })
                .always(function () {
                  alertEl.show().delay(3000).fadeOut()
                  estimateTable.ajax.reload()
                })
            }
          }
        ]
      })
    })
  </script>
{% endblock %}
