{% extends 'main/base.html' %}

{% block title %}
  Статьи расходов
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>

  <div class="row mb-1">
    <input id="type-input" type="hidden" value="{{ request.GET.type }}">
    <div class="col-4 pr-1 flex-shrink-0">
        <div class="input-group input-group-sm">
            <span class="input-group-text">Код учета подотчетной суммы</span>
            <select id="imprest-account-select" class="text-center form-select">
                <option value="">Все</option>
                {% for opt in imprestAccounts %}
                  <option value="{{ opt.account }}" {% ifequal opt.account|stringformat:"i" request.GET.imprestAccount %}selected="selected"{% endifequal %}>{{ opt.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
  </div>

  <table id="expenseItem-table" class="table table-sm table-bordered table-striped table-hover table-header-sm">
    <thead>
      <tr>
        <th scope="col" rowspan="3">Пункт</th>
        <th scope="col" rowspan="3">Наименование расхода</th>
        <th scope="col" rowspan="3">Код расхода</th>
        <th scope="col" rowspan="3">Принято к учету</th>
        <th scope="col" colspan="6">Дебет</th>
        <th scope="col" colspan="6">Кредит</th>
        <th scope="col" rowspan="3">Схема</th>
        <th scope="col" rowspan="3">Для печати</th>
        <th scope="col" rowspan="3"></th>
        <th scope="col" rowspan="3"></th>
      </tr>
      <tr>
        <th scope="col" rowspan="2" data-dt-order="disable">Счет</th>
        <th scope="col" colspan="2" data-dt-order="disable">КАУ</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Статья</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width:30px">Расх. Подр.</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Доп</th>

        <th scope="col" rowspan="2" data-dt-order="disable">Счет</th>
        <th scope="col" colspan="2" data-dt-order="disable">КАУ</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Статья</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width:30px">Расх. Подр.</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Доп</th>
      </tr>
      <tr>
        <th scope="col" colspan="1" data-dt-order="disable" style="width:30px">&nbsp;</th>
        <th scope="col" colspan="1" data-dt-order="disable" style="width:30px">&nbsp;</th>
        <th scope="col" colspan="1" data-dt-order="disable" style="width:30px">&nbsp;</th>
        <th scope="col" colspan="1" data-dt-order="disable" style="width:30px">&nbsp;</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      var expenseItemTable = $('#expenseItem-table').DataTable({
        ajax: {
          url: '/api/v1/expenseItems/?format=datatables',
          data: function (d) {
            if ($('#imprest-account-select').length > 0) d.imprestAccount = $('#imprest-account-select').val()
            if ($('#type-input').val()) d.type = $('#type-input').val()
          }
        },
        rowId: 'id',
        pagingType: 'first_last_numbers',
        columns: [
          {
            data: 'category.num'
          },
          {
            data: 'category.name'
          },
          {
            data: 'expenseCode',
            orderable: false,
            searchable: false
          },
          {
            data: 'accept',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitAccount',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitKAU1',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitKAU2',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitExpenseItem',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitExpenseDept',
            orderable: false,
            searchable: false
          },
          {
            data: 'debitExtra',
            orderable: false,
            searchable: false
          },
    
          {
            data: 'creditAccount',
            orderable: false,
            searchable: false
          },
          {
            data: 'creditKAU1',
            orderable: false,
            searchable: false
          },
          {
            data: 'creditKAU2',
            orderable: false,
            searchable: false
          },
          {
            data: 'creditExpenseItem',
            orderable: false,
            searchable: false
          },
          {
            data: 'creditExpenseDept',
            orderable: false,
            searchable: false
          },
          {
            data: 'creditExtra',
            orderable: false,
            searchable: false
          },
    
          {
            data: 'schema',
            orderable: false,
            searchable: false
          },
          {
            data: 'category.printName',
            orderable: false,
            searchable: false
          },
          editColumn("{% url 'expenseItems' %}", null),
          deleteColumn("{% url 'expenseItems' %}", null, 'Удалить статью расхода?')
        ],
        buttons: [addButton("{% url 'expenseItems' %}")]
      })
    
      $('#imprest-account-select').on('change', function () {
        expenseItemTable.ajax.reload()
      })
    })
  </script>
{% endblock %}
