{% extends 'main/base.html' %}

{% block title %}
  Статья расходов
{% endblock %}

{% block content %}
  <form method="post" class="container-fluid">
    {% csrf_token %}

    <div class="row g-1">
      <div class="col d-flex">
        <button type="submit" class="btn btn-success btn-sm ms-auto me-1"><i class="fa-light fa-floppy-disk pe-2"></i>Сохранить</button>
        <button type="button" class="btn btn-danger btn-sm" onclick="history.back()">Отменить</button>
      </div>
    </div>

    <div class="row g-1 pt-1">
      <div class="col-9">
        {% include 'main/input_group.html' with field=form.category label='Наименование' inputClass='form-select' %}
      </div>

      <div class="col-3">
        {% include 'main/input_group.html' with field=form.expenseCode inputClass='form-select' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.accept label='Принято к учету' %}
      </div>
    </div>

    <div class="row g-1 pt-1">
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.debitAccount label='Дебет. Счет, субсчет' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.debitExpenseItem label='Дебет. Статья расхода' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.debitExpenseDept label='Дебет. Расходы подразделения' %}
      </div>

      <div class="col-1">
        {% include 'main/input_group.html' with field=form.debitKAU1 label='Дебет. КАУ_1' %}
      </div>

      <div class="col-1">
        {% include 'main/input_group.html' with field=form.debitKAU2 label='Дебет. КАУ_2' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.debitExtra label='Дебет. Доп.признак' %}
      </div>
    </div>

    <div class="row g-1 pt-1">
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.creditAccount label='Кредит. Счет, субсчет' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.creditExpenseItem label='Кредит. Статья расхода' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.creditExpenseDept label='Кредит. Расходы подразделения' %}
      </div>

      <div class="col-1">
        {% include 'main/input_group.html' with field=form.creditKAU1 label='Кредит. КАУ_1' %}
      </div>

      <div class="col-1">
        {% include 'main/input_group.html' with field=form.creditKAU2 label='Кредит. КАУ_2' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.creditExtra label='Кредит. Доп.признак' %}
      </div>
    </div>

    <div class="row pt-1">
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.schema label='Схема проводок' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.itemType label='Код учета подотчетной суммы' inputClass='form-select' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.expenseType label='Тип расхода' inputClass='form-select' %}
      </div>
    </div>
  </form>
{% endblock %}
