{% extends 'main/base.html' %}

{% block title %}
  Приказы
{% endblock %}

{% block content %}

  <div class="flex-row">
      <fieldset class="input-group-sm btn-group btn-group-sm mb-1" aria-label="Статус" role="group">
        <span class="input-group-text">Статус:</span>
        <input type="radio" class="btn-check" name="status-radio" id="status-radio1" autocomplete="off" value="0" checked="">
        <label class="btn btn-outline-success" for="status-radio1" title="Все">ВСЕ</label>
        <input type="radio" class="btn-check" name="status-radio" id="status-radio2" autocomplete="off" value="1">
        <label class="btn btn-outline-success" for="status-radio2" title="Загруженныее приказы">ЗАГРУЖЕНЫ</label>
        <input type="radio" class="btn-check" name="status-radio" id="status-radio3" autocomplete="off" value="2">
        <label class="btn btn-outline-success" for="status-radio3" title="Только незагруженные">НЕ ЗАГРУЖЕНЫ</label>
      </fieldset>
  </div>
  
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="order-table" class="table table-sm table-bordered table-striped table-hover table-header-sm">
    <thead>
      <tr>
        <th style="width: 2rem">ID</th>
        <th style="width: 3rem">Наим.</th>
        <th style="width: 6rem">№ приказа</th>

        <th style="width: 6rem">Дата приказа</th>
        <th style="width: 3rem">Таб.</th>
        <th style="width: 3rem">Подр.</th>
        <th style="width: 15rem">ФИО</th>
        <th style="width: 15rem">Должность</th>
        <th style="width: 15rem">Место назначения</th>
        <th style="width: 6rem">Начало</th>
        <th style="width: 6rem">Окончание</th>
        <th style="width: 10rem">Цель</th>
        <th style="width: 3rem">ID Сметы</th>
        <th style="width: 6rem">За счет</th>
        <th style="width: 6rem">ID мен.</th>
        <th style="width: 6rem"></th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      var orderTable = $('#order-table').DataTable({
        ajax: {
          url: "{% url 'wc07porder-list' %}",
          data: function (d) {

            const statusFilterValue = $('input[name="status-radio"]:checked').val();
            if (statusFilterValue != '') {
              d.statusFilter = statusFilterValue
            }

            d.format = 'datatables'
          }
        },
        rowId: 'id',
        columns: [
          {
            data: 'orderId'
          },
          {
            data: 'orderName'
          },
          {
            data: 'orderNum'
          },
          {
            data: 'orderDate'
          },
          {
            data: 'empOrgNo'
          },
          {
            data: 'depName'
          },
          {
            data: 'fio'
          },
          {
            data: 'profName'
          },
          {
            data: 'distName'
          },
          {
            data: 'missionBegin'
          },
          {
            data: 'missionEnd'
          },
          {
            data: 'missionPurpose'
          },
          {
            data: 'estimateId'
          },
          {
            data: 'payDoc'
          },
          {
            data: 'orderIdUpd'
          },
          {
            data: null,
            defaultContent: '',
            orderable: false,
            searchable: false,
            className: 'text-center align-middle px-1',
            render: function (data, type, row) {
              if (data.prepaymentId) 
                return `<a href="{% url 'prepayments' %}/${data.prepaymentId}" class="text-success" title="Перейти к выданному авансу"><i class="fa-duotone fa-money-bill-transfer fa-xl"></i></a>`
              return `<a href="{% url 'orders' %}/${data.orderId}/createPrepayment" class="create-prepayment-button"><i class="fa-duotone fa-download fa-xl"></i></a>`
            }
          }
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-upload me-2"></i>&nbsp;Загрузить',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              const alertEl = $('.alert')
              $.get("{% url 'orders' %}/load", function (e) {
                alertEl.attr('class', 'alert alert-success')
                alertEl.html(e)
              })
                .fail(function (e) {
                  alertEl.attr('class', 'alert alert-danger')
                  alertEl.html(e.responseText)
                })
                .always(function () {
                  alertEl.show().delay(3000).fadeOut()
                  orderTable.ajax.reload()
                })
            }
          }
        ]
      })
    
      orderTable.on('click', '.create-prepayment-button', function (e) {
        e.preventDefault()
        const alertEl = $('.alert')
        const url = e.currentTarget.getAttribute('href')
        $.get(url, function (e) {
          alertEl.attr('class', 'alert alert-success')
          alertEl.html(e)
        })
          .fail(function (e) {
            alertEl.attr('class', 'alert alert-danger')
            alertEl.html(e.responseText)
          })
          .always(function () {
            alertEl.show().delay(3000).fadeOut()
            orderTable.ajax.reload()
          })
      })

      $('input[type="radio"]').click(function() {
        orderTable.ajax.reload()
      });
    })
  </script>
{% endblock %}
