<div class="input-group input-group-sm">
    <span class="input-group-text">Статус</span>
    <select id="status-filter" class="form-select filter-input" >
        <option value="">Все</option>
        {% for opt in options %}
            <option value="{{ opt.id }}">{{ opt.name }}</option>
        {% endfor %}
    </select>
    <button id="status-filter-reset" class="btn btn-sm btn-outline-success">X</button>
</div>

<script type="text/javascript">
    const statusFilter = $("#status-filter")
    $(document).ready(function () {
        const storedValue = localStorage.getItem('statusFilter');
        if (storedValue) {
            statusFilter.val(storedValue);
        }

        $("#status-filter-reset").on('click', function(e) {
            statusFilter.val('').change()
            localStorage.setItem('statusFilter', '');
        })
        
        statusFilter.on('change', function () {
            const val = statusFilter.val();
            if (val)
                localStorage.setItem('statusFilter', val);
            else
                localStorage.setItem('statusFilter', '');
        });
    })
</script>