{% extends 'main/base.html' %}

{% block title %}
  Счет подразделения
{% endblock %}

{% block content %}
  <form method="post" class="container-fluid">
    {% csrf_token %}

    {% url 'departmentAccounts' as back_url %}
    {% include 'main/save_cancel.html' with path=back_url %}

    <div class="row g-1 pt-1">
      <div class="col-6">
        {% include 'main/input_group.html' with field=form.department inputClass='form-select form-select-sm' %}
      </div>

      <div class="col-6"></div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.account label='Счет' %}
      </div>
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.extra label='Доп. признак' %}
      </div>
    </div>
  </form>
{% endblock %}
