{% extends 'main/base.html' %}

{% block title %}
  Реестр выданных подотчетных сумм
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>

  <div class="row">
    <div class="col-3">  
        {% include 'main/filters/period_filter.html' %}
    </div>
  </div>

  <table id="request-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100 table-header-sm">
    <thead>
      <tr>
        <th style="width: 1%">№ п.п</th>
        <th style="width: 10%">Подразделение</th>
        <th style="width: 10%">Табельный</th>
        <th style="width: 10%">ФИО</th>
        <th style="width: 10%">Период удержания</th>
        <th style="width: 10%">Сумма</th>
        <th style="width: 1%"></th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    let urlParams = new URLSearchParams(document.location.search)
    
    $(document).ready(function () {  
      var table = $('#request-table').DataTable({
        ajax: {
          url: "{% url 'prepayment-list' %}?format=datatables",
          data: function (d) {
            let imprestAccount = urlParams.get('imprestAccount')
            if (imprestAccount) d.imprestAccount = imprestAccount
            if ($('#period-from').val()) d.periodFrom = $('#period-from').val()
            if ($('#period-to').val()) d.periodTo = $('#period-to').val()
            d.filterType = 2
          }
        },
        rowId: 'id',
        pagingType: 'first_last_numbers',
        order: [],
        columns: [
          {
              data: null,
              render: function (data, type, row, meta) {
                  return meta.row + 1; // Starts from 1 instead of 0
              }
          },
          //{ data: 'id', orderable: false, searchable: false, defaultContent: '' },
          { data: 'empDivNum', orderable: false, defaultContent: '' },
          { data: 'empNum', orderable: false, defaultContent: '' },
          { data: 'empFullName', orderable: false, defaultContent: '' },
          { data: 'distribSalaryDate', orderable: false, defaultContent: '' },
          { data: 'distribSalary', orderable: false, defaultContent: '' },
          {
            data: null,
            defaultContent: '',
            orderable: false,
            searchable: false,
            className: 'text-center align-middle p-1',
            render: function (data, type, row) {
                return `<a class="text-success add-single-entry" href="{% url 'deductions_add_entries' %}?ids=${row.id}" aria-expanded="false">
                        <i class="fa-duotone fa-file-plus fa-xl"></i>
                        </a>`
                }
          }
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-file-export me-2"></i>&nbsp;Выгрузить',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              const periodFrom = $('#period-from').val()
              const periodTo = $('#period-to').val()
              window.open(`/deductions/download?periodFrom=${periodFrom}&periodTo=${periodTo}`, '_blank').focus()
            }
          },
          {
            text: '<i class="fa-light fa-file-export me-2"></i>&nbsp;Создать проводки',
            className: 'btn btn-danger btn-sm',
            action: function (e, dt, node, config) {
              if (confirm('Вы уверены, что хотите создать проводки?')) {
                const periodFrom = $('#period-from').val()
                const periodTo = $('#period-to').val()
                const alertEl = $('.alert')
                const url = `{% url 'deductions_add_entries' %}?periodFrom=${periodFrom}&periodTo=${periodTo}`
                $.get(url, function (e) {
                  alertEl.attr('class', 'alert alert-success')
                  alertEl.html(e)
                })
                .fail(function (e) {
                  alertEl.attr('class', 'alert alert-danger')
                  alertEl.html(e.responseText)
                })
                .always(function () {
                  alertEl.show().delay(3000).fadeOut()
                  table.ajax.reload()
                })
              }
            }
          }
        ]
      })
    
      table.on('click', '.add-single-entry', function (e) {
        e.preventDefault()
        const alertEl = $('.alert')
        const url = e.currentTarget.getAttribute('href')
        $.get(url, function (e) {
          alertEl.attr('class', 'alert alert-success')
          alertEl.html(e)
        })
          .fail(function (e) {
            alertEl.attr('class', 'alert alert-danger')
            alertEl.html(e.responseText)
          })
          .always(function () {
            alertEl.show().delay(3000).fadeOut()
            table.ajax.reload()
          })
      })

      periodFilter
        .find('.datepeeker')
        .datepicker()
        .on('change', function (e) {
          table.ajax.reload()
        })
      periodFilter.find('button').on('click', function (e) {
        table.ajax.reload()
      })
    })
  </script>
{% endblock %}
