{% extends 'main/base.html' %}

{% block title %}
Реестр выданных подотчетных сумм
{% endblock %}

{% block content %}
    <style>
        tr > th {
            text-align: center;
            border-bottom-width: 1px!important;
            padding: .2rem!important;
            font-size: 0.9em;
        }
    </style>

<div class="alert alert-primary" role="alert" style="display: none;">

</div>
<table id="request-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100" style="font-size: 0.9em;">
</table>

<script type="text/javascript">
    let urlParams = new URLSearchParams(document.location.search)

    $(document).ready(
        function () {
            var table = $('#request-table').DataTable(
                {
                    ajax: {
                        url: '/api/v1/prepayments/?format=datatables',
                        data: function (d) {
                            let imprestAccount = urlParams.get("imprestAccount")
                            if (imprestAccount)
                                d.imprestAccount=imprestAccount
                            if ($('#period-from').val())
                                d.periodFrom=$('#period-from').val()
                            if ($('#period-to').val())
                                d.periodTo=$('#period-to').val()
                                d.filterType=2
                        }
                    },
                    rowId: 'id',
                    pagingType: 'first_last_numbers',
                    order: [],
                    initComplete: function(){
                        const periodFilter = $(
                            `<div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Период с</span>
                                </div>
                                <input id="period-from" class="text-center datepeeker" style="width: 100px"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">по</span>
                                    <input id='period-to' class='text-center datepeeker' style='width: 100px'/>
                                </div>
                            </div>`)

                        $("div.filters").append(periodFilter);        
                        periodFilter.find('.datepeeker').datepicker()  
                        periodFilter.on('change', 'input', function(e){
                            table.ajax.reload()
                        }) 
                    },
                    columns: [
                        { title: '№ п.п', data: 'id', orderable: false, searchable: false, defaultContent: ""},
                        { title: 'Подразделение', data: 'empDivNum', orderable: false, defaultContent: "" },
                        { title: 'Табельный', data: 'empNum', orderable: false, defaultContent: "" },
                        { title: 'ФИО', data: 'empFullName', orderable: false, defaultContent: "" },
                        { title: 'Сумма', data: 'distribSalary', orderable: false, defaultContent: "" }
                    ],
                    buttons: [
                        {
                            text: '&nbsp;Выгрузить',
                            className: 'btn btn-outline-info fa-light fa-file-export',
                            action: function (e, dt, node, config) {
                                periodFrom = $('#period-from').val()
                                periodTo = $('#period-to').val()
                                window.open(`/deductions/download?periodFrom=${periodFrom}&periodTo=${periodTo}`, '_blank').focus();
                            }
                        }
                    ]
                });

                table.on('order.dt search.dt', function () {
                    let i = 1;
                    table.cells(null, 0, { search: 'applied', order: 'applied' }).every(function (cell) {
                            this.data(i++);
                        });
                })
                .draw();
        }
    );
</script>
{% endblock %}