{% extends 'main/base.html' %}

{% block title %}
  Коды учета подотчетной суммы
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="imprestAccount-table" class="table table-sm table-bordered table-hoverdtr-inline">
    <thead>
      <tr>
        <th style="width: 10%">Счет</th>
        <th style="width: 90%">Наименование</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#imprestAccount-table').DataTable({
        ajax: {
          url: "{% url 'imprestaccount-list' %}?format=datatables",
          data: function (d) {}
        },
        rowId: 'account',
        order: [],
        columns: [
          { data: 'account' },
          { data: 'name' }, 
          editColumn("{% url 'imprestAccounts' %}", null, function(data) { return data.account }), 
          deleteColumn("{% url 'imprestAccounts' %}", null, 'Удалить код учетв?', function(data) { return data.account })
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-octagon-plus me-2"></i>&nbsp;Создать',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              window.location.href = "{% url 'imprestAccounts'  %}"
            }
          }
        ]
      })
    })
  </script>
{% endblock %}
