{% extends 'main/base.html' %}

{% block title %}
  Наименование категории расхода
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="expenseCategories-table" class="table table-sm table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th style="width: 2%">Номер</th>
        <th style="width: 60%">Наименование</th>
        <th style="width: 40%">Наименование для печати</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#expenseCategories-table').DataTable({
        ajax: {
          url: "{% url 'expensecategory-list' %}?format=datatables",
          data: function (d) {}
        },
        rowId: 'id',
        pagingType: 'first_last_numbers',
        columns: [
          {
            data: 'num'
          },
          {
            data: 'name'
          },
          {
            data: 'printName'
          },
          editColumn("{% url 'expenseCategories' %}", null),
          deleteColumn("{% url 'expenseCategories' %}", null, 'Удалить категорию расхода?')
        ],
        buttons: [addButton("{% url 'expenseCategories' %}")]
      })
    })
  </script>
{% endblock %}
