{% extends 'main/base.html' %}

{% block title %}
  Наименование категории расхода
{% endblock %}

{% block content %}
  <form method="post" class="container-fluid">
    {% csrf_token %}
    <input type="hidden" name="{{ form.id.name }}" value="{{ form.id.value|default_if_none:'' }}" />

    {% url 'expenseCategories' as back_url %}
    {% include 'main/save_cancel.html' with path=back_url %}

    <div class="row g-1 pt-1">
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.num label='Номер' %}
      </div>

      <div class="col-10">
        {% include 'main/input_group.html' with field=form.name label='Наименование' %}
      </div>

      <div class="col-12">
        {% include 'main/input_group.html' with field=form.printName label='Наименование для печати' %}
      </div>
    </div>
  </form>
{% endblock %}
