{% extends 'main/base.html' %}

{% block title %}
Протокол операций
{% endblock %}

{% block content %}
<div class="alert alert-primary" role="alert" style="display: none;">

</div>
<table id="protocol-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100"></table>

<script type="text/javascript">
    $(document).ready(
        function () {

            var protocolTable = $('#protocol-table').DataTable(
                {
                    ajax: {
                        url: '/api/v1/integration/protocols/?format=datatables',
                        data: function (d) {

                        }
                    },
                    order: [],
                    rowId: 'id',
                    pagingType: 'first_last_numbers',
                    columns: [
                        {
                            title: '№',
                            data: 'id',
                            width: '2rem'
                        },
                        {
                            title: 'Дата/Время',
                            data: 'operDate',
                            width: '12rem'
                        },
                        {
                            title: 'Операция',
                            data: 'comment',
                        }
                    ],
                    buttons: [
                        
                    ]
                });
        }
    );
</script>
{% endblock %}