{% extends 'main/base.html' %}

{% block title %}
  Подтвержденные командировочные расходы
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>

  <div class="input-group input-group-sm justify-content-center w-30">
    <span class="input-group-text">Дата</span>
    <input id="to-date" class="form-control text-center datepeeker" style="width: 100px" />
    <button id="reset" class="btn btn-sm btn-outline-danger">X</button>
    <button type="button" class="btn btn-sm btn-outline-primary row-delete download">Скачать файл</button>
  </div>

  <table id="fact-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100" style="font-size: 0.9em;">
    <thead>
      <tr>
        <th scope="col" class="text-center" style="width: 5%;">Табельный</th>
        <th scope="col" class="text-center" style="width: 15%;">ФИО</th>
        <th scope="col" class="text-center" style="width: 5%;">Подразделение</th>
        <th scope="col" class="text-center" style="width: 25%;">xv26ei_id</th>
        <th scope="col" class="text-center" style="width: 25%;">pd_id</th>
        <th scope="col" class="text-center" style="width: 25%;">pd_source</th>
        <th scope="col" class="text-center" style="width: 25%;">sum_fact</th>
        <th scope="col" class="text-center" style="width: 25%;">sum_delta</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th scope="col" colspan="6" class="text-left">Итого:</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </tfoot>
  </table>

  <script type="text/javascript">
    const purposes = ['приобретение ТМЦ, работ, услуг', 'приобретение ГСМ']
    
    let urlParams = new URLSearchParams(document.location.search)
    
    $(document).ready(function () {
      var table = $('#fact-table').DataTable({
        ajax: {
          url: "{% url 'fact-list' %}?format=datatables",
          data: function (d) {
            let imprestAccount = urlParams.get('imprestAccount')
            if (imprestAccount) d.imprestAccount = imprestAccount
            if ($('#to-date').val()) d.toDate = $('#to-date').val()
          }
        },
        rowId: 'id',
        order: [],
        footerCallback: function (row, data, start, end, display) {
          var intVal = function (i) {
            return typeof i === 'string' ? i.replace(/,/g, '.').replace(/ /g, '') * 1 : typeof i === 'number' ? i : 0
          }
    
          var total = 0
          var api = this.api()
    
          api
            .cells(null, 6, { page: 'current' })
            .nodes()
            .each(function (n) {
              total += intVal($(n).text())
            })
    
          $(api.column(6).footer()).html(total.toFixed(2))
        },
        columns: [
          { data: 'prepayment.empNum', orderable: false, defaultContent: '' },
          { data: 'prepayment.empFullName', orderable: false, defaultContent: '' },
          { data: 'prepayment.empDivNum', orderable: false, defaultContent: '' },
          { data: 'xv26eiId', orderable: false, defaultContent: '' },
          { data: 'pdId', orderable: false },
          { data: 'pdSource', orderable: false },
          { data: 'sumFact', orderable: false },
          { data: 'sumDelta', orderable: false }
        ],
        buttons: [
          {
            extend: 'excel',
            text: '<i class="fa-light fa-file-xls"></i>&nbsp;Excel',
            className: 'btn-primary btn-sm'
          }
        ]
      })
    
      $('.datepeeker').datepicker()
      $('.download').on('click', function (e) {
        const toDate = $('#to-date').val()
        if (toDate) window.open(`/facts/download?toDate=${toDate}`, '_blank').focus()
      })
      $('#to-date').on('change', function (e) {
        table.ajax.reload()
      })
      $('#reset').on('click', function () {
        $('#to-date').val('')
        table.ajax.reload()
      })
    })
  </script>
{% endblock %}
