{% extends 'main/base.html' %}

{% block title %}
  Статус
{% endblock %}

{% block content %}
  <form method="post" class="container-fluid">
    {% csrf_token %}
    <input type="hidden" name="{{ form.id.name }}" value="{{ form.id.value|default_if_none:'' }}" />

    <div class="form-row align-items-center">
      <div class="col-12 p-1 text-right">
        <input type="submit" class="btn btn-success btn-sm" value="Сохранить" />
        <a href="{% url 'departments' %}" class="btn btn-danger btn-sm">Отмена</a>
      </div>
    </div>

    <div class="row">
      <div class="col-2 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">Наименование</span>
        </div>
        <input type="text" class="text-center mb-0 form-control form-control-sm" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" />
      </div>
    </div>
  </form>
{% endblock %}
