{% extends 'main/base.html' %}

{% block title %}
  Сотрудники
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="expenseCode-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100"></table>

  <script type="text/javascript">
    var sampleLang = {
      info: 'Страница _PAGE_ из _PAGES_',
      lengthMenu: 'На странице _MENU_',
      zeroRecords: 'Сотрудников не найдено',
      infoEmpty: 'Не найдено',
      search: 'Поиск',
      processing: 'Загрузка...',
      loadingRecords: 'Загрузка...',
      paginate: {
        first: '|<',
        last: '>|',
        next: '>',
        previous: '<'
      }
    }
    $(document).ready(function () {
      var expenseCodeTable = $('#expenseCode-table').DataTable({
        ajax: {
          url: '/api/v1/expenseCodes/?format=datatables',
          data: function (d) {}
        },
        rowId: 'id',
        pagingType: 'first_last_numbers',
        language: sampleLang,
        columns: [
          {
            title: 'Код',
            data: 'code',
            width: '5rem'
          },
          {
            title: 'Наименование',
            data: 'name'
          },
          {
            title: '',
            data: null,
            width: '1%',
            defaultContent: '',
            orderable: false,
            render: function (data, type, row) {
                return `<a href="/expenseCodes/${data.code}" class="text-info bi bi-pencil h4 m-0"></a>`
            }
        },
        {
            title: '',
            data: null,
            width: '1%',
            defaultContent: '',
            orderable: false,
            render: function (data, type, row) {
              return `<a href="/expenseCodes/${data.code}/delete" class="text-danger bi bi-trash-fill h4 m-0" onclick="return confirm('Удалить код расхода?');"></a>`
            }
         }
        ],
        buttons: [
          {
            text: '&nbsp;Создать',
            className: 'btn btn-info btn-sm bi bi-boxes',
            action: function (e, dt, node, config) {
              window.location.href = '/expenseCodes/new'
            }
          }
        ]
      })
    })
  </script>
{% endblock %}
