{% extends 'main/base.html' %}

{% block title %}
  Сотрудники
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="expenseCode-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100">
    <thead>
      <tr>
        <th style="width: 10%">Код</th>
        <th style="width: 90%">Наименование</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      var expenseCodeTable = $('#expenseCode-table').DataTable({
        ajax: {
          url: '/api/v1/expenseCodes/?format=datatables',
          data: function (d) {}
        },
        rowId: 'code',
        pagingType: 'first_last_numbers',
        columns: [
          {
            data: 'code',
          },
          {
            data: 'name'
          },
          editColumn("{% url 'expenseCodes' %}", null, function(data) { return data.code }), 
          deleteColumn("{% url 'expenseCodes' %}", null, 'Удалить код расхода?', function(data) { return data.code })
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-octagon-plus me-2"></i>&nbsp;Создать',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              window.location.href = "{% url 'expenseCodes' %}/new"
            }
          }
        ]
      })
    })
  </script>
{% endblock %}
