{% extends 'main/base.html' %}

{% block title %}
  Заявление на аванс
{% endblock %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="col-12 p-1 text-right">
        <input type="submit" class="btn btn-success btn-sm" value="Сохранить" />
        <a href="{% url 'requests' %}" class="btn btn-danger btn-sm">Отмена</a>
      </div>
    </div>
    {% comment %} {{ form.errors }} {% endcomment %}
    <input type="hidden" name="id" value="{{ form.id.value }}" />

    {% comment %} <div class="row">
      <div class="col-12 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.name.label }}</span>
        </div>
        <input type="text" class="h5 text-center mb-0 form-control form-control-sm" name="{{ form.name.name }}" value="{{ form.name.value|default_if_none:'' }}" />
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.params.label }}</span>
        </div>
        <textarea cols="100" rows="30" class="h5 text-center mb-0 form-control form-control-sm" name="{{ form.params.name }}" style="text-align: left !important;">{{ form.params.value|default_if_none:'' }}</textarea>
      </div>
    </div> {% endcomment %}
  </form>
{% endblock %}
