{% extends 'main/base.html' %}
{% load prepayment_extras %}
{% load widget_tweaks %}
{% block title %}
  Заявление на аванс
{% endblock %}

{% block content %}
  <form method="post" class="container">
    {% csrf_token %}

    <input id="action" type="hidden" name="action" />
    <input id="element_type" type="hidden" name="element-type" />

    {% url 'requests' as back_url %}
    {% include 'main/save_cancel.html' with path=back_url %}

    {{ form.errors }}
    <input type="hidden" name="id" value="{{ form.id.value }}" />

    <div class="row g-1">
      <div class="col-2">
        {% include 'main/input_group.html' with field=form.num label=form.num.label inputClass='text-center' %}
      </div>

      <div class="col-2">
        {% include 'main/input_group.html' with field=form.createDate inputClass='text-center' %}
      </div>

      <div class="col-2">
        {% if perms.request.submit_wc07p %}
          <button id="wc07p-btn" type="button" class="btn btn-success btn-sm ms-auto me-1" data-url="{% url 'submit_wc07p' form.id.value %}"><i class="fa-light fa-floppy-disk pe-2"></i>Отправить WC07P</button>
        {% endif %}
      </div>

      <div class="col-6"></div>

      <div class="col-3">
        <div class="input-group input-group-sm">
          <span class="input-group-text">Табельный</span>
          {{ form.applicant|add_class:'form-select-sm' }}
        </div>
      </div>

      <div class="col-6">
        <div class="input-group input-group-sm">
          <span class="input-group-text">ФИО</span>
          <input type="text" class="text-center form-control applicant-fio" value="{{ form.instance.applicant.pfnSurname|add:' '|add:form.instance.applicant.pfnName|add:' '|add:form.instance.applicant.pfnPatronymic|default_if_none:'' }}" disabled />
        </div>
      </div>

      <div class="col-3">
        <div class="input-group input-group-sm">
          <span class="input-group-text">Подр.</span>
          <input type="text" class="text-center form-control applicant-div" value="{{ form.instance.applicant.divNo|zfill:3|default_if_none:'' }}" disabled />
        </div>
      </div>

      <div class="col-9">
        <div class="input-group input-group-sm">
          <span class="input-group-text">Должность</span>
          <input type="text" class="text-center form-control applicant-prof" value="{{ form.instance.applicant.profName|default_if_none:'' }}" disabled />
        </div>
      </div>

      <div class="col-3">
        {% include 'main/input_group.html' with field=form.applicantPhone label='Телефон' %}
      </div>

      <div class="col-4">
        {% if type == 1 %}
          {% include 'main/input_group.html' with field=form.issuedSum inputClass='issued-sum' %}
        {% else %}
          {% include 'main/input_group.html' with field=form.issuedSum inputClass='issued-sum bg-body-secondary' inputAttr='readonly' %}
        {% endif %}
      </div>

      <div class="col-4">
        {% include 'main/input_group.html' with field=form.receivingDate inputClass='text-center datepeeker' %}
      </div>

      <div class="col-4">
        <div class="input-group input-group-sm">
          <span class="input-group-text">{{ form.obtainMethod.label }}</span>
          {{ form.obtainMethod|add_class:'form-select form-select-sm' }}
        </div>
      </div>

      {% if type == 0 %}
        {% include 'request/type_0.html' %}
      {% elif type == 1 %}
        {% if form.instance.carryOverPrepayment is not None %}
          {% include 'request/carry_over_prepayment.html' with prepayment=form.instance.carryOverPrepayment %}
        {% endif %}
      {% elif type == 2 %}
        {% include 'request/type_2.html' %}
      {% endif %}

      <div class="col-7"></div>

      <div class="col-2">
        <div class="input-group input-group-sm">
          <span class="input-group-text">{{ form.imprestAccount.label }}</span>
          {{ form.imprestAccount|add_class:'form-select form-select-sm' }}
        </div>
      </div>

      <div class="col-3">
        <div class="input-group input-group-sm">
          <span class="input-group-text">{{ form.status.label }}</span>
          {{ form.status|add_class:'form-select form-select-sm' }}
        </div>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    $(document).ready(function () {
      const issuedSumInput = $('.issued-sum')
    
      $('.datepeeker').datepicker()
    
      function updateIssuedSum() {
        let totalSum = 0.0
        const inputs = $('.total-input-part:visible')
        if (inputs.length == 0) return
        // Снабжаем все части итоговой суммы классом total-input-part
        inputs.each(function () {
          totalSum += parseFloat($(this).val().replaceAll(',', '.')) || 0
        })
        issuedSumInput.val(totalSum.toFixed(2))
      }
    
      $('form').on('change', '.total-input-part', function () {
        updateIssuedSum()
      })
    
      // Добавить аванс
      $('.btn-add-row').on('click', function (e) {
        $('#element_type').val($(e.target).data('element-type'))
        $('#action').val('add-' + $(e.currentTarget).data('prefix'))
      })
    
      // Удалить группу или элемент
      $('.delete-inventory, .btn-delete-row').on('click', function (e) {
        $('#action').val('delete-' + $(e.currentTarget).data('prefix'))
      })
    
      $('#id_applicant')
        .select2({
          ajax: {
            url: '/api/v1/integration/employees/?format=json',
            dataType: 'json',
            data: function (params) {
              var query = {
                empOrgNo: params.term
              }
              return query
            },
            processResults: function (data) {
              return {
                results: data.results.map((el) => ({ id: el.persId, text: el.empOrgNo }))
              }
            }
          },
          language: {
            noResults: function (params) {
              return 'Нет совпадений'
            }
          }
        })
        .on('select2:select', function (e) {
          var data = e.params.data
          $.get(`/api/v1/integration/employees/${e.params.data.id}?format=json`).done((response) => {
            $('.applicant-fio').val(response.pfnSurname + ' ' + response.pfnName + ' ' + response.pfnPatronymic)
            $('.applicant-div').val(response.divNo)
            $('.applicant-prof').val(response.profName)
          })
        })
    
      $('#wc07p-btn').on('click', function () {
        const url = $(this).data('url')
        const csrfToken = $('input[name="csrfmiddlewaretoken"]').val()
        const id = $('input[name="id"]').val()
    
        $.ajax({
          url: url,
          type: 'POST',
          data: {
            id: id,
            csrfmiddlewaretoken: csrfToken
          },
          success: function (response) {
            alert('WC07P отправлен')
          },
          error: function (xhr) {
            alert('Ошибка отправки: ' + xhr.responseText)
            console.error(xhr.responseText)
          }
        })
      })

      updateIssuedSum()
    })
  </script>
{% endblock %}
