{% extends 'main/base.html' %}

{% block title %}
  Заявление на аванс
{% endblock %}

{% block content %}
  <form method="post" class="container">
    {% csrf_token %}
    <div class="form-row align-items-center">
      <div class="col-12 p-1 text-right">
        <input type="submit" class="btn btn-success btn-sm" value="Сохранить" />
        <a href="{% url 'requests' %}" class="btn btn-danger btn-sm">Отмена</a>
      </div>
    </div>
    {{ form.errors }}
    <input type="hidden" name="id" value="{{ form.id.value }}" />

    <div class="row">
      <div class="col-2 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.num.label }}</span>
        </div>
        <input type="text" class="h5 text-center mb-0 form-control form-control-sm" name="{{ form.num.name }}" value="{{ form.num.value|default_if_none:'' }}" disabled/>
      </div>

      <div class="col-2 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.createDate.label }}</span>
        </div>
        <input type="text" class="h5 text-center mb-0 form-control form-control-sm" name="{{ form.createDate.name }}" value="{{ form.createDate.value|default_if_none:'' }}" disabled/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text {% if form.applicant.errors %} bg-danger {% endif %}">{{ form.applicant.label }}</span>
        </div>
        {{ form.applicant }}
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.issuedSum.label }}</span>
        </div>
        <input type="text" class="h5 text-center mb-0 form-control form-control-sm" name="{{ form.issuedSum.name }}" value="{{ form.issuedSum.value|default_if_none:'' }}"/>
      </div>

      <div class="col-4 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.receivingDate.label }}</span>
        </div>
        <input type="text" class="h5 text-center mb-0 form-control form-control-sm datepeeker" name="{{ form.receivingDate.name }}" value="{{ form.receivingDate.value|default_if_none:'' }}" autocomplete="off"/>
      </div>
    </div>

    <div class="row">
      <div class="col-12 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text">{{ form.comment.label }}</span>
        </div>
        <textarea type="text" rows="3" class="h5 mb-0 form-control form-control-sm" name="{{ form.comment.name }}" >{{ form.comment.value|default_if_none:'' }}</textarea>
      </div>
    </div>

    <div class="row">

      <div class="col-7 p-1 input-group input-group-sm">
      </div>

      <div class="col-2 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text {% if form.imprestAccount.errors %} bg-danger {% endif %}">{{ form.imprestAccount.label }}</span>
        </div>
        {{ form.imprestAccount }}
      </div>

      <div class="col-3 p-1 input-group input-group-sm">
        <div class="input-group-prepend">
          <span class="input-group-text {% if form.status.errors %} bg-danger {% endif %}">{{ form.status.label }}</span>
        </div>
        {{ form.status }}
      </div>
    </div>
  </form>

  <script type="text/javascript">
    $('.datepeeker').datepicker();
  </script>
{% endblock %}
