{% load prepayment_extras %}
{% load static %}
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap4.min.css' %}" />
    <style type="text/css">
      @font-face {
        font-family: TimesNewRoman;
        src: url(/static/main/fonts/times.ttf);
      }
      body {
        font-family: TimesNewRoman;
        font-size: 14px;
      }
      table {
        font-size: 20px;
      }
      
      @media print {
        @page {
          size: auto; /*auto is the initial value */
          margin: 0mm; /* this affects the margin in the printer settings */
        }
      
        #printPageButton {
          display: none;
        }
      
        body {
          font-size: 14pt;
          margin: 10mm;
        }
      
        body > .container {
          width: 100% !important;
          margin: 0px !important;
          max-width: 100% !important;
        }
      }
      
      table.header-table {
        border-collapse: separate;
        border-spacing: 10px 2px;
      }
      table,
      th,
      td {
        /*border: 1px solid gainsboro;*/
      }
      th {
        font-weight: lighter;
      }
      
      td.border-top2-bottom1,
      th.border-top2-bottom1 {
        border-top: 2px solid black !important;
        border-bottom: 1px solid black;
      }
      
      td.border-top1-bottom2,
      th.border-top1-bottom2 {
        border-top: 1px solid black;
        border-bottom: 2px solid black !important;
      }
      
      .table-bordered td,
      .table-bordered th {
        border: 1px solid rgb(0, 0, 0);
      }
      .table-bordered thead th {
        vertical-align: bottom;
        border-bottom: 2px solid rgb(0, 0, 0);
      }
    </style>
  </head>
  <body>
    <div class="container p-4">
      <div class="row">
        <div class="col-12">
          <table class="w-100 header-table">
            {% if req.type == 2 %}
              <tr>
                <td></td>
                <td class="text-center">
                  <small>ФОРМА №Ф-11 утверждена приказом от 10.01.2017 №027</small>
                </td>
              </tr>
            {% endif %}
            <tr>
              <td></td>
              <td class="text-left" colspan="2">
                {% if req.type == 0 %}
                  Начальнику финансового отдела<br />Полякову А.Л.
                {% elif req.type|stringformat:'\d' in '12' %}
                  Генеральному директору<br />ФГУП «Комбинат «Электрохимприбор»
                {% endif %}
              </td>
            </tr>

            {% with applicant=req.applicant %}
              <tr>
                <td></td>
                <td class="text-left border-bottom border-dark" style="width: 40%;" colspan="2">
                  от{% if req.type == 2 %}
                    работника структурного подразделения № <u>{{ applicant.divNo|zfill:3|default_if_none:'' }}</u>
                  {% endif %}
                  {% if req.type != 2 %}
                    <u>{{ applicant.profName }}</u>
                  {% endif %}<br />{{ applicant.pfnSurname|add:' '|add:applicant.pfnName|add:' '|add:applicant.pfnPatronymic|default_if_none:'' }}
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-center" style="font-size: 0.8em;" colspan="2">
                  ({% if req.type != 2 %}должность, {% endif %}фамилия, инициалы работника)
                </td>
              </tr>
              {% if req.type != 2 %}
                <tr>
                  <td></td>
                  <td class="text-center border-bottom border-dark" style="width: 20%;">
                    <strong>{{ applicant.divNo|zfill:3|default_if_none:'' }}</strong>
                  </td>
                  <td class="text-center border-bottom border-dark">
                    <strong>{{ applicant.empOrgNo|default_if_none:'' }}</strong>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-center" style="font-size: 0.8em;">(подразделение)</td>
                  <td class="text-center" style="font-size: 0.8em;">(табельный номер)</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-center"></td>
                  <td class="text-center border-bottom border-dark">{{ req.applicantPhone|default_if_none:'&nbsp;' }}</td>
                </tr>
                <tr>
                  <td></td>
                  <td class="text-center" style="font-size: 0.8em;"></td>
                  <td class="text-center" style="font-size: 0.8em;">(контактный телефон)</td>
                </tr>
              {% else %}
                <tr>
                  <td></td>
                  <td class="text-center">
                    (табельный № <u>{{ applicant.empOrgNo|default_if_none:'' }}</u>; контактный тел. <u>{{ req.applicantPhone|default_if_none:'&nbsp;' }}</u>)
                  </td>
                </tr>
              {% endif %}
            {% endwith %}

            <tr style="height: 30px;">
              <td colspan="3" class="text-center font-weight-bold align-bottom">
                {% if req.type != 2 %}
                  <table class="w-100">
                    <tbody>
                      <tr>
                        <td rowspan="2" class="text-right" style="width: 50%">
                          <h3>Заявление о выдаче денег под отчет</h3>
                        </td>
                        <td rowspan="2" style="width: 10px"></td>
                        <td class="border border-dark text-center" style="width: 120px;">номер</td>
                        <td class="border border-dark text-center" style="width: 150px;">дата составления</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td class="border border-dark text-center">{{ req.num }}</td>
                        <td class="border border-dark text-center">{{ req.createDate }}</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                {% else %}
                  <h3>Заявление</h3>
                {% endif %}
              </td>
            </tr>

            {% if req.type != 2 %}
              <tr>
                <td colspan="1" rowspan="1" class="text-left align-bottom">
                  Прошу выдать мне под отчет{% if req.type == 0 %}

                  {% elif req.type == 1 %}
                    аванс на приобретение ГСМ для заправки служебных автомобилей в сумме
                  {% endif %}
                </td>
                {% comment %} <td colspan="2" rowspan="1" class="text-center border-bottom border-dark" style="font-size: 0.8em;">
                  <strong>{{ issuedSumIntString }} ({{ req.issuedSum|default_if_none:'' }}) руб.</strong>
                </td> {% endcomment %}
              </tr>
              <tr>
                <td colspan="3" rowspan="1" class="text-center border-bottom border-dark" style="font-size: 1.0em;">
                  <strong>{{ issuedSumIntString }} ({{ req.issuedSum|default_if_none:'' }}) руб.</strong>
                </td>
              </tr>
              <tr>
                <td colspan="3" rowspan="1" class="text-center" style="font-size: 0.8em;">(сумма в рублях прописью, в круглых скобках - цифрами)</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="2" class="text-left align-bottom">
                  Прошу выдать мне под отчет аванс на командировочные расходы путем {% if req.obtainMethod.source == 0 %}
                    его выдачи через кассу
                  {% else %}
                    его перечисления на карту банка <u>{{ req.obtainMethod.name }}</u>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td colspan="2" class="text-left">
                  в сумме <b>{{ req.issuedSum|floatformat:'0'|default_if_none:'' }}</b> руб. <b>{{ req.issuedSum|floatformat:'2'|slice:'-2:'|default_if_none:'' }}</b> коп. исходя из расчета:
                </td>
              </tr>
            {% endif %}
            {% if req.type == 2 %}
              <tr>
                <td colspan="2">
                  <table class="table table-sm table-bordered">
                    <thead class="text-center">
                      <tr>
                        <th class="text-center font-weight-bold" colspan="2">наименование расхода</th>
                        <th class="text-center font-weight-bold" style="width: 15%;">сумма, в руб.</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for te in req.travelexpenses %}
                        {% if te.type == 2 %}
                          {% include 'request/report/travel_row.html' with label='Проезд' text=te.name fromDate=te.dateFrom toDate=te.dateTo sum=te.sum %}
                        {% endif %}
                        {% if te.type == 0 %}
                          {% include 'request/report/travel_row.html' with label='Суточные' text=te.name fromDate=te.dateFrom toDate=te.dateTo sum=te.sum %}
                        {% endif %}
                        {% if te.type == 1 %}
                          {% include 'request/report/travel_row.html' with label='Проживание' text=te.name sum=te.sum fromDate=te.dateFrom toDate=te.dateTo %}
                        {% endif %}
                        {% if te.type == 3 %}
                          {% include 'request/report/travel_row.html' with label='Подотчет по распоряжению' labelColspan=2 sum=te.sum %}
                        {% endif %}
                        {% if te.type == 4 %}
                          {% include 'request/report/travel_row.html' with label='Подотчет водителю цеха 013 на приобретение ГСМ' labelColspan=2 sum=te.sum %}
                        {% endif %}
                      {% endfor %}
                      {% include 'request/report/travel_row.html' with label='Провоз и упаковка багажа, услуги камеры хранения' labelColspan=2 sum='' %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <td class="text-left font-weight-bold" colspan="2">Итого</td>
                        <td class="text-right font-weight-bold">{{ travelExpenseSum }}</td>
                      </tr>
                    </tfoot>
                  </table>
                </td>
              </tr>
            {% endif %}

            {% if req.type == 0 %}
              <tr>
                <td colspan="3" class="text-left align-bottom">
                  на <u>административно-хозяйственные нужды, приобретение МПЗ, оплата услуг</u>
                </td>
              </tr>
              <tr>
                <td colspan="3" class="text-center" style="font-size: 0.8em;">(указать цель выдачи денежных средств)</td>
              </tr>

              <tr>
                <td colspan="3" class="text-left align-bottom">Обоснование запрашиваемой суммы:</td>
              </tr>
              {% if req.type == 0 %}
                {% for inventory in req.requestinventory_set.all %}
                  <tr>
                    <td colspan="3" class="text-left" style="font-size: 0.8em;">{{ 'заявка №:'|add:inventory.requestNum|add:' '|add:inventory.comment }}</td>
                  </tr>
                  {% for item in inventory.requestinventoryitem_set.all %}
                    <tr>
                      <td colspan="3" class="text-left" style="font-size: 0.8em;">
                        {{ 'Наименование: '|add:item.name|default_if_none:'' }}
                        {% with cnt=item.cnt|stringformat:'i' %}
                          {{ 'Количество: '|add:cnt|default_if_none:'' }}
                        {% endwith %}
                        {% with price=item.price|stringformat:'.2f' %}
                          {{ 'Цена: '|add:price|default_if_none:'' }}
                        {% endwith %}
                        {% with total=item.total|stringformat:'.2f' %}
                          {{ 'Итого: '|add:total|default_if_none:'' }}
                        {% endwith %}
                      </td>
                    </tr>
                  {% endfor %}
                {% endfor %}
              {% endif %}
              <tr>
                <td colspan="3" class="text-center" style="font-size: 0.8em;">(привести обоснование с перечнем запрашиваемых МПЗ и при необходимости - расчет запрашиваемой суммы)</td>
              </tr>

              <tr>
                <td colspan="3">
                  <table class="w-100">
                    <tbody>
                      {% with receivingDate=req.receivingDate|date:'d.m.Y'|default_if_none:'' %}
                        {% include 'request/signRow.html' with signUnder='(подпись подотчетного лица)' showDate='n' title='Предполагаемая дата получения денежных средств: '|add:receivingDate %}
                      {% endwith %}
                      {% with divNo=req.applicant.divNo|stringformat:'03d'|default_if_none:'___' %}
                        {% include 'request/signRow.html' with title='Решение начальника структурного подразделения № '|add:divNo|add:'   __________________________________' %}
                      {% endwith %}
                      {% include 'request/signRow.html' with title='Решение начальника финансового отдела '|add:'   __________________________________' %}
                      <tr>
                        <td>СОГЛАСОВАННО</td>
                      </tr>
                      {% include 'request/signRow.html' with title='Главный бухгалтер комбината' %}
                      {% include 'request/signRow.html' with title='Заместитель генерального директора по логистике' %}
                      {% include 'request/signRow.html' with title='Начальник ОМТСКО' %}
                    </tbody>
                  </table>
                </td>
              </tr>
            {% elif req.type == 1 %}
              <tr>
                <td colspan="3" class="text-left">
                  путем{% if req.obtainMethod.source == 0 %}
                    его выдачу через кассу
                  {% else %}
                    его перечисления на карту банка ({{ req.obtainMethod.name }})
                  {% endif %}
                </td>
              </tr>

              <tr>
                <td colspan="3" class="text-left">Обязуюсь в течении 10 рабочих дней с момента получения денежных средств отчитаться за их использование и (или) вернуть неизрасходованную часть полученной суммы</td>
              </tr>

              <tr>
                <td colspan="3">
                  <table class="w-100">
                    <tbody>
                      {% include 'request/signRow.html' with title='Работник' %}
                      {% include 'request/signRow.html' with title='Руководитель организации' %}
                    </tbody>
                  </table>
                </td>
              </tr>
            {% endif %}

            {% if req.type == 2 %}
              <tr>
                <td colspan="3" class="text-left">Обязуюсь в случае отмены командировки сдать неизрасходованную часть часть данного аванса в кассу комбината не позднее 3-х рабочих дней с момента отмены командировки</td>
              </tr>
              <tr>
                <td colspan="3">
                  <table class="w-100">
                    <tbody>
                      {% include 'request/signRow.html' with title='Работник' %}
                      {% include 'request/signRow.html' with title='Руководитель ораганизации' %}
                    </tbody>
                  </table>
                </td>
              </tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
