<tr style="height: 30px;">
  <td class="text-left" colspan="5" style="width: 80px;">{{ title }}</td>
</tr>
<tr style="height: 30px;">
  <td class="border-bottom border-dark" style="width: 30%;"></td>
  <td style="width: 10px;"></td>
  <td class="border-bottom border-dark" style="width: 30%;"></td>
  <td style="width: 10px;"></td>
  <td class="text-center" style="width: 30%;">«____»____________20__г.</td>
</tr>
<tr style="line-height: 12px;">
  <td class="text-center" style="font-size: 0.8em;">(подпись)</td>
  <td></td>
  <td class="text-center" style="font-size: 0.8em;">(расшифровка подписи)</td>
  <td></td>
  <td class="text-center" style="font-size: 0.8em;"></td>
</tr>
