{% load widget_tweaks %}
<table class="table table-sm table-bordered w-100">
  <thead class="table-success">
    <tr>
      <th class="text-center">
        <button class="btn btn-sm btn-outline-success py-0 float-start btn-add-row" data-prefix="{{ expenses.prefix }}" data-element-type="{{ type }}">Добавить</button>{{ name }}
      </th>
      {% if type|stringformat:'s' in '01' %}
        <th class="text-center" style="width: 15%;">Наименование нормы</th>
      {% endif %}
      {% if type|stringformat:'s' in '01' %}
        <th class="text-center" style="width: 100px;">Норма</th>
      {% endif %}
      {% if type|stringformat:'s' in '012' %}
        <th class="text-center" style="width: 15%;">Дата начала</th>
        <th class="text-center" style="width: 15%;">Дата окончания</th>
      {% endif %}
      {% if type|stringformat:'s' in '01' %}
        <th class="text-center" style="width: 5%;">Дней</th>
      {% endif %}
      <th class="text-center" style="width: {% if type|stringformat:'s' in '01' %}11{% elif type|stringformat:'s' in '234' %}16{% endif %}%;">Сумма</th>
      <th class="text-center" style="width: 40px;"></th>
    </tr>
  </thead>
  <tbody>
    {% for expense in expenses %}
      {% if expense.type.value|stringformat:'s' == type|stringformat:'s' and not expense.DELETE.value %}
        <tr>
          {{ expense.id }}
          {{ expense.type.as_hidden }}
          <td class="text-left">{{ expense.name|add_class:'form-control form-control-sm' }}</td>
          {% if type|stringformat:'s' in '01' %}
            <td>{{ expense.expenseRate|add_class:'form-select form-select-sm' }}</td>
          {% endif %}
          {% if type|stringformat:'s' in '01' %}
            <td>{{ expense.rate|add_class:'form-control form-control-sm text-end bg-body-secondary'|attr:'readonly' }}</td>
          {% endif %}
          {% if type|stringformat:'s' in '012' %}
            <td>{{ expense.dateFrom|add_class:'form-control form-control-sm text-center datepeeker' }}</td>
            <td>{{ expense.dateTo|add_class:'form-control form-control-sm text-center datepeeker' }}</td>
          {% endif %}
          {% if type|stringformat:'s' in '01' %}
            <td>{{ expense.days|add_class:'form-control form-control-sm text-center bg-body-secondary'|attr:'readonly' }}</td>
          {% endif %}
          <td>{{ expense.sum|add_class:'form-control form-control-sm text-end total-input-part' }}</td>
          <td>
            <button class="btn btn-sm btn-outline-danger btn-delete-row align-self-stretch" data-prefix="{{ expense.prefix }}"><i class="fa-light fa-trash"></i></button>
          </td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
