{% load widget_tweaks %}

{{ travelExpenses.management_form }}
{% for del in travelExpenses %}
  {% if del.DELETE.value %}
    {{ del.id }}
    {{ del.DELETE.as_hidden }}
  {% endif %}
{% endfor %}

<div class="col-12">
  {% include 'request/travel_expense_table.html' with expenses=travelExpenses name='Суточные' type=0 %}
</div>

<div class="col-12">
  {% include 'request/travel_expense_table.html' with expenses=travelExpenses name='Проживание' type=1 %}
</div>

<div class="col-12">
  {% include 'request/travel_expense_table.html' with expenses=travelExpenses name='Проезд' type=2 %}
</div>

<div class="col-12">
  <div class="row">
    <div class="col-6">
      {% include 'request/travel_expense_table.html' with expenses=travelExpenses name='Подотчет по распоряжению' type=3 %}
    </div>

    <div class="col-6">
      {% include 'request/travel_expense_table.html' with expenses=travelExpenses name='Подотчет на приобретение ГСМ' type=4 %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#id_dailyAllowance, #id_living')
      .select2({
        tags: true
      })
      .on('change', function (e) {
        const select = e.target
        const selectedValue = e.target.value
        const rateInput = $(select).parent().parent().find("[id$='Rate']")
        if (selectedValue)
          $.get(`{% url "expenserate-list" %}?filterValue=${selectedValue}`)
            .done(function (data) {
              if (data && data.count > 0 && rateInput) rateInput.val(data.results[0].value).trigger('change')
              else rateInput.val('').trigger('change')
            })
            .fail(function (data) {
              rateInput.val('').trigger('change')
            })
        else rateInput.val('').trigger('change')
      })
  
    $('input[id^="id_travel-expenses"]')
      .not('.total-input-part')
      .on('change', function (e) {
        const row = $(e.target).parent().parent()
        const rateInput = row.find('input[id$="rate"]')
        const dateFromInput = row.find('input[id$="dateFrom"]')
        const dateToInput = row.find('input[id$="dateTo"]')
        const daysInput = row.find('input[id$="days"]')
        const sumInput = row.find('input[id$="sum"]')
  
        const dateFromValue = dayjs(dateFromInput.val(), 'DD.MM.YYYY', true)
        const dateToValue = dayjs(dateToInput.val(), 'DD.MM.YYYY', true)
  
        dateFromInput.removeClass('is-invalid')
        dateToInput.removeClass('is-invalid')
        if (!dateFromValue.isValid() || !dateToValue.isValid() || dateToValue.isBefore(dateFromValue)) {
          daysInput.val(0)
          if (rateInput.length != 0) sumInput.val(0).trigger('change')
          dateFromInput.addClass('is-invalid')
          dateToInput.addClass('is-invalid')
          return
        }
        if (rateInput.length == 0) return
        const rateValue = parseFloat(rateInput.val().replace(/,/g, '.')) || 0
        const daysValue = dateToValue.diff(dateFromValue, 'days') + 1
        daysInput.val(daysValue)
  
        sumInput.val(rateValue * daysValue).trigger('change')
      })
  })
</script>
