{% load widget_tweaks %}

{{ inventories.management_form }}
{% for del in inventories %}
  {% if del.DELETE.value %}
    {{ del.id }}
    {{ del.DELETE.as_hidden }}
  {% endif %}
{% endfor %}

<div class="col-12">
  <div class="container-fluid p-1 border rounded" style="background-color:rgb(130, 184, 154);">
    <div class="row g-1 inventory-container">
      <div class="col-auto">
        <button class="btn btn-sm btn-outline-light btn-add-row" data-prefix="{{ inventories.prefix }}" data-element-type="0">Добавить</button>
      </div>
      <div class="col text-center fs-5">Приобретение ТМЦ</div>

      {% for inventory in inventories %}
        {% with type=inventory.elementType.value|default:'0'|stringformat:'s' %}
          {% if not inventory.DELETE.value and type == '0' %}
            {% include 'request/inventoryRow.html' with inventory=inventory type=type %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>

<div class="col-12">
  <div class="container-fluid p-1 border rounded" style="background-color:rgb(100, 111, 161);">
    <div class="row g-1 inventory-container">
      <div class="col-auto">
        <button class="btn btn-sm btn-outline-light btn-add-row" data-prefix="{{ inventories.prefix }}" data-element-type="1">Добавить</button>
      </div>
      <div class="col text-center fs-5">Приобретение услуг</div>

      {% for inventory in inventories %}
        {% with type=inventory.elementType.value|default:'0'|stringformat:'s' %}
          {% if not inventory.DELETE.value and type == '1' %}
            {% include 'request/inventoryRow.html' with inventory=inventory type=type %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('.cnt-input, .price-input').on('change', function (e) {
      const tr = $(e.currentTarget).closest('tr')
      const cntInput = tr.find('.cnt-input')
      const priceInput = tr.find('.price-input')
      const totalInput = tr.find('.total-input')
  
      const cntValue = parseFloat(cntInput.val().replace(/,/g, '.')) || 0
      const priceValue = parseFloat(priceInput.val().replace(/,/g, '.')) || 0
  
      const total = cntValue * priceValue
      totalInput.val(total.toFixed(2)).trigger('change')
    })
  })
</script>
