<nav class="navbar navbar-expand-sm navbar-dark bg-success">
  <a class="navbar-brand bi bi-stack" href="#">&nbsp;АО</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

  <div class="collapse navbar-collapse" id="navbarsExample03" style="font-size: 1.2em;">
    <ul class="navbar-nav mr-auto">
      <!--            <li class="nav-item active">
                <a class="nav-link" href="#">Домой <span class="sr-only">(current)</span></a>
            </li>            -->

      <li class="nav-item dropdown active">
        <a class="nav-link" href="#" data-toggle="dropdown"><i class="fa-light fa-file-signature"></i>&nbsp;Заявления на аванс</a>
      </li>

      {% if perms.integration.view_prepayments %}
        <li class="nav-item dropdown active">
          <a class="nav-link" href="{% url 'prepayments' %}"><i class="fa-light fa-money-bill-transfer"></i>&nbsp;Выданный под отчет аванс</a>
        </li>
      {% endif %}

      <li class="nav-item dropdown active">
        <a class="nav-link" href="#" data-toggle="dropdown"><i class="fa-light fa-file-contract"></i>&nbsp;Авансовые отчеты</a>
        {% comment %} <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="">Код учета подотчетной суммы</a>
          </li>
        </ul> {% endcomment %}
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa-light fa-scale-balanced"></i>&nbsp;Бухгалтерский учет</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="">Массив проводок для выгрузки в баланс</a>
          </li>
          <li>
            <a class="dropdown-item" href="">Опись массива авансовых отчетов за период</a>
          </li>
          <li>
            <a class="dropdown-item" href="">Справки доходов и удержаний для выгрузки в ТС УП</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa-light fa-file-arrow-down"></i>&nbsp;Отчеты</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="">Отчеты по заданным параметрам</a>
          </li>
          <li>
            <a class="dropdown-item" href="">Командировочные расходы для ИХД</a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><i class="fa-light fa-layer-group"></i>&nbsp;Справочники</a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#">Расходы по командировкам (б.сч.7101) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Статьи расхода</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы по загранкомандировкам (б.сч.7102) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Статьи расхода</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы 013 цеха (б.сч.7103) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Статьи расхода</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы по приобретению ТМЦ, работ, услуг (б.сч.7104) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы 075 отдела (б.сч.7105) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Статьи расхода</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы по приобретению ТМЦ, работ, услуг г. Москва (б.сч. 7106) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Расходы 900 отдела (б.сч.7108) &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Статьи расхода</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Схемы проводок, по приобретению ТМЦ, работ, услуг</a>
              </li>
            </ul>
          </li>

          <li>
            <a class="dropdown-item" href="#">Общие справочники для кодов учета подотчетной суммы &raquo</a>
            <ul class="submenu dropdown-menu">
              <li>
                <a class="dropdown-item" href="">Код учета подотчетной суммы</a>
              </li>
              {% if perms.guide.view_expense_codes or perms.guide.edit_expense_codes %}
              <li>
                <a class="dropdown-item" href="{% url 'expenseCodes' %}"><i class="fa-light fa-list"></i>&nbsp;Код расхода</a>
              </li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="">Справочник подразделений</a>
              </li>
              {% if perms.integration.view_employees %}
                <li>
                  <a class="dropdown-item" href="{% url 'employees' %}"><i class="fa-light fa-user-helmet-safety"></i>&nbsp;Сотрудники</a>
                </li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="">Нормы командировочных расходов</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Список документов</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Возмещаемые расходы для включения в совокупный доход работника</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Бухгалтерская справка</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Статус</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Назначение аванса</a>
              </li>
              <li>
                <a class="dropdown-item" href="">Способы получения</a>
              </li>
              {% if perms.integration.view_estimates %}
                <li>
                  <a class="dropdown-item" href="{% url 'estimates' %}"><i class="fa-light fa-list"></i>&nbsp;Сметы</a>
                </li>
              {% endif %}
              {% if perms.integration.view_orders %}
                <li>
                  <a class="dropdown-item" href="{% url 'orders' %}"><i class="fa-light fa-award"></i>&nbsp;Приказы</a>
                </li>
              {% endif %}
            </ul>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-light fa-gear"></i>&nbsp;Настройки</a>
        <div class="dropdown-menu" aria-labelledby="dropdown04">
          <a class="dropdown-item" href="{% url 'settings' %}"><i class="fa-light fa-sliders"></i>&nbsp;Каталоги файлов</a>
          <a class="dropdown-item" href="{% url 'admin:index' %}"><i class="fa-light fa-users"></i>&nbsp;Пользователи и группы</a>
        </div>
      </li>
    </ul>

    <div class="form-inline my-2 my-lg-0 navbar-nav">
      <div style="line-height: 1;">
        <div class="nav-link active p-0">{{ user }}</div>
        <small id="browser-info" class="p-0"></small>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        const browser = $.browser
        $('#browser-info').text(`${browser.name}: ${browser.versionNumber}`)
      })
    </script>
  </div>
</nav>
