<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}-title" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header p-2">
        <h5 class="modal-title" id="{{ modal_id }}-title">{{ modal_title|default:'Выберите дату' }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body container-fluid p-2">
        <div class="row p-1">
          <div class="col-12">
            <div class="input-group input-group-sm">
              <span class="input-group-text">{{ date_label|default_if_none:'Дата' }}</span>
              <input type="text" class="mb-0 form-control text-center form-control-sm datepeeker {{ date_input_class|default:'' }}" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-2">
        <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-sm btn-danger ok-button">Ок</button>
      </div>
    </div>
  </div>
</div>
