{% extends 'main/base.html' %}

{% block title %}
  Реестр выданных подотчетных сумм
{% endblock %}

{% block content %}
  <style>
    .table-warning {
      background-color: #f2c464;
    }
  </style>
  <div class="alert alert-primary" role="alert" style="display: none;"></div>

  <div class="row">
    <div class="col-3">  
        {% include 'main/filters/period_filter.html' %}
    </div>
    {% if statuses %}
        <div class="col-3">
            {% include 'status/status_filter.html' with options=statuses %}
        </div>
    {% endif %}
  </div>

  <table id="request-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100 table-header-sm" style="font-size: 0.9em;">
    <thead>
      <tr>
        <th scope="col" colspan="3" data-dt-order="disable">Документ</th>
        <th scope="col" colspan="3" data-dt-order="disable">Подотчетное лицо</th>

        <th scope="col" rowspan="2" data-dt-order="disable">Код учета</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Назначение аванса</th>
        <th scope="col" rowspan="2" data-dt-order="disable">Место командирования</th>

        <th scope="col" colspan="2" data-dt-order="disable">Период командирования</th>

        <th scope="col" rowspan="2" data-dt-order="disable" data-width="60px">
          Подотчет<br />ная сумма<br />(аванс)
        </th>
        <th scope="col" rowspan="2" data-dt-order="disable" data-width="1%">Статус</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 80px;">Бух. справка</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 90px;">Шифр отнесения затрат</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 110px;">Дата принятия на учет АО</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 80px;">Срок АО</th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 100px;">Создатель/Исполнитель</th>

        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th>
      </tr>
      <tr>
        <th scope="col" data-dt-order="disable">Тип</th>
        <th scope="col" data-dt-order="disable">Номер</th>
        <th scope="col" data-dt-order="disable" data-width="80px">Дата</th>

        <th scope="col" data-dt-order="disable">Подр.</th>
        <th scope="col" data-dt-order="disable">Таб.</th>
        <th scope="col" data-dt-order="disable" data-width="200px">ФИО</th>

        <th scope="col" data-dt-order="disable" data-width="100px">С</th>
        <th scope="col" data-dt-order="disable" data-width="100px">По</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    const purposes = ['приобретение ТМЦ, работ, услуг', 'приобретение ГСМ']
    let urlParams = new URLSearchParams(document.location.search)
    const isAdminOrAccountant = {{ isAdminOrAccountant|yesno:"true,false" }}

    $(document).ready(
        function () {
            var requestTable = $('#request-table').DataTable(
                {
                    ajax: {
                        url: '/api/v1/prepayments/?format=datatables',
                        data: function (d) {
                            let imprestAccount = urlParams.get("imprestAccount")
                            if (imprestAccount)
                                d.imprestAccount=imprestAccount
                            if ($('#period-from').val())
                                d.periodFrom=$('#period-from').val()
                            if ($('#period-to').val())
                                d.periodTo=$('#period-to').val()
                            if (statusFilter && statusFilter.val())
                                d.statusFilter = statusFilter.val()

                            d.columns.push({data: 'wc07pOrder.orderNum', searchable: true})
                            d.columns.push({data: 'imprestAccount.account', searchable: true})
                            d.columns.push({data: 'docNum', searchable: true})
                        }
                    },
                    rowId: 'id',
                    order: [],
                    rowCallback: function(row, data) {
                        const deadline = new parseDate(data.deadline);
                        if (!deadline) return;
                        const today = new Date();
                        const twoDaysFromNow = new Date(today);
                        twoDaysFromNow.setDate(today.getDate() - 2);
                        if (deadline >= twoDaysFromNow && deadline <= today) {
                            $(row).addClass('table-warning');
                        }
                        if(data.status && data.status.id == 1) {
                            $(row).addClass('fw-bold');
                        }
                    },
                    columns: [
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                return data.document?data.document.name:'';
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.wc07pOrder)
                                    return data.wc07pOrder.orderNum
                                else 
                                    return data.docNum;
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.wc07pOrder)
                                    return data.wc07pOrder.orderDate
                                else 
                                    return data.docDate;
                            }
                        },
                        { data: 'empDivNum', orderable: false, render: function (data, type, row) {
                                return String(data).padStart(3, '0');
                            }  
                        },
                        { data: 'empNum', orderable: false },
                        { data: 'empFullName', orderable: false },

                        { data: 'imprestAccount.account', orderable: false, defaultContent: "", searchable: false },
                        { data: 'prepaidDestList', orderable: false, searchable: false },
                        { data: 'missionDestList', orderable: false, searchable: false },
                        { data: 'missionFrom', orderable: false, defaultContent: "", searchable: false },
                        { data: 'missionTo', orderable: false, defaultContent: "", searchable: false },
                        { data: 'totalSum', orderable: false, searchable: false, className: 'text-right text-nowrap', render: $.fn.dataTable.render.number( ' ', ',', 2 )  },
                        { data: 'status.name', orderable: false, className: 'text-center', defaultContent: "Не установлен", searchable: false },
                        { data: 'reportAccountingNum', orderable: false, defaultContent: "", searchable: false },
                        { data: 'accountList', orderable: false, defaultContent: "", searchable: false },
                        { data: 'reportDate', orderable: false, defaultContent: "", searchable: false },
                        { data: 'deadline', orderable: false, defaultContent: "", searchable: false },
                        {
                            data: null,
                            orderable: false,
                            width: '1rem',
                            className: 'text-center',
                            searchable: false,
                            render: function (data, type, row, meta) {
                                return `<small style="font-size:0.8em;">${data.createdBy || ''}/${data.updatedByAccountant || ''}</small>`;
                            },
                        },
                        editColumn("{% url 'prepayments' %}", function(data) { return isAdminOrAccountant || data.status == null || data.status.id < 3 }),
                        deleteColumn("{% url 'prepayments' %}", function(data) { return isAdminOrAccountant || data.status == null || data.status.id < 3 }, "Удалить аванс?")
                    ],
                    buttons: [
                        {
                            text: '<i class="fa-light fa-octagon-plus me-2"></i>&nbsp;СОЗДАТЬ НОВУЮ ПОДОТЧЕТНУЮ СУММУ',
                            className: 'btn btn-success btn-sm',
                            action: function (e, dt, node, config) {
                                window.location.href = "{% url 'prepayments' %}/new"
                            }
                        }
                    ]
                });

            $('#request-table').on('click', 'tbody td .print', function(e){
                printDialog.dialog('open')
            })

            periodFilter.find('.datepeeker').datepicker().on('change', function (e) {
                requestTable.ajax.reload()
            })

            statusFilter.on('change', function (e) {
                requestTable.ajax.reload()
            })

            periodFilter.find('button').on('click', function (e) {
                requestTable.ajax.reload()
            })
        }
    );
</script>
{% endblock %}
