{% extends 'main/base.html' %}

{% block title %}
Реестр выданных подотчетных сумм
{% endblock %}

{% block content %}
    <style>
        tr > th {
            text-align: center;
            border-bottom-width: 1px!important;
            padding: .2rem!important;
            font-size: 0.9em;
        }

        .table-warning {
            background-color: #f2c464;
        }
        td {
            line-height: 1;
        }
    </style>
<input type="hidden" id="isAdminOrAccountant" value="{{ isAdminOrAccountant }}"/>
<div class="alert alert-primary" role="alert" style="display: none;">

</div>
<table id="request-table" class="table table-sm table-bordered table-hover dataTable dtr-inline w-100" style="font-size: 0.9em;">
    <thead>
        <tr>
            <th colspan="3" data-dt-order="disable">Документ</th>
            <th colspan="3" data-dt-order="disable">Подотчетное лицо</th>

            <th rowspan="2" data-dt-order="disable">Код учета</th>
            <th rowspan="2" data-dt-order="disable">Назначение аванса</th>
            <th rowspan="2" data-dt-order="disable">Место командирования</th>

            <th colspan="2" data-dt-order="disable">Период командирования</th>

            <th rowspan="2" data-dt-order="disable" width='60px'>Подотчет<br/>ная сумма<br/>(аванс)</th>
            <th rowspan="2" data-dt-order="disable" width='130px'>Статус</th>
            <th rowspan="2" data-dt-order="disable">Бух. справка</th>
            <th rowspan="2" data-dt-order="disable">Шифр отнесения затрат</th>
            <th rowspan="2" data-dt-order="disable">Дата принятия на учет АО</th>
            <th rowspan="2" data-dt-order="disable">Срок АО</th>
            <th rowspan="2" data-dt-order="disable">Создатель/Исполнитель</th>

            <th rowspan="2" data-dt-order="disable" width='30px'></th>
            <th rowspan="2" data-dt-order="disable" width='30px'></th>
            
        </tr>
        <tr>
            <th data-dt-order="disable">Тип</th>
            <th data-dt-order="disable">Номер</th>
            <th data-dt-order="disable" width='100px'>Дата</th>

            <th data-dt-order="disable">Подр.</th>
            <th data-dt-order="disable">Таб. номер</th>
            <th data-dt-order="disable" width='200px'>ФИО</th>

            <th data-dt-order="disable" width='100px'>С</th>
            <th data-dt-order="disable" width='100px'>По</th>
        </tr>
    </thead>
</table>

<script type="text/javascript">
    const purposes = ['приобретение ТМЦ, работ, услуг', 'приобретение ГСМ']

    let urlParams = new URLSearchParams(document.location.search)
    const isAdminOrAccountant = $('#isAdminOrAccountant').val() == 'True'

    $(document).ready(
        function () {
            var requestTable = $('#request-table').DataTable(
                {
                    ajax: {
                        url: '/api/v1/prepayments/?format=datatables',
                        data: function (d) {
                            let imprestAccount = urlParams.get("imprestAccount")
                            if (imprestAccount)
                                d.imprestAccount=imprestAccount
                            if ($('#period-from').val())
                                d.periodFrom=$('#period-from').val()
                            if ($('#period-to').val())
                                d.periodTo=$('#period-to').val()
                            //console.log(d)
                            d.columns.push({data: 'wc07pOrder.orderNum', searchable: true})
                            d.columns.push({data: 'imprestAccount.account', searchable: true})
                            d.columns.push({data: 'docNum', searchable: true})
                        }
                    },
                    rowId: 'id',
                    pagingType: 'first_last_numbers',
                    order: [],
                    rowCallback: function(row, data) {
                        const deadline = new parseDate(data.deadline);
                        if (!deadline) return;
                        const today = new Date();
                        const twoDaysFromNow = new Date(today);
                        twoDaysFromNow.setDate(today.getDate() - 2);
                        if (deadline >= twoDaysFromNow && deadline <= today) {
                            $(row).addClass('table-warning');
                        }
                    },
                    initComplete: function(){
                        const periodFilter = $(
                            `<div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Период с</span>
                                </div>
                                <input id="period-from" class="text-center datepeeker" style="width: 100px"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">по</span>
                                    <input id='period-to' class='text-center datepeeker' style='width: 100px'/>
                                </div>
                            </div>`)

                        $("div.filters").append(periodFilter);        
                        periodFilter.find('.datepeeker').datepicker()  
                        periodFilter.on('change', 'input', function(e){
                            requestTable.ajax.reload()
                        }) 
                    },
                    columns: [
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                return data.document?data.document.name:'';
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.wc07pOrder)
                                    return data.wc07pOrder.orderNum
                                else 
                                    return data.docNum;
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.wc07pOrder)
                                    return data.wc07pOrder.orderDate
                                else 
                                    return data.docDate;
                            }
                        },
                        { data: 'empDivNum', orderable: false, render: function (data, type, row) {
                                return String(data).padStart(3, '0');
                            }  
                        },
                        { data: 'empNum', orderable: false },
                        { data: 'empFullName', orderable: false },

                        { data: 'imprestAccount.account', orderable: false, defaultContent: "", searchable: false },
                        { data: 'prepaidDestList', orderable: false, searchable: false },
                        { data: 'missionDestList', orderable: false, searchable: false },
                        { data: 'missionFrom', orderable: false, defaultContent: "", searchable: false },
                        { data: 'missionTo', orderable: false, defaultContent: "", searchable: false },
                        { data: 'totalSum', orderable: false, searchable: false, className: 'text-right text-nowrap', render: $.fn.dataTable.render.number( ' ', ',', 2 )  },
                        { data: 'status.name', orderable: false, defaultContent: "Не установлен", searchable: false },
                        { data: 'reportAccountingNum', orderable: false, defaultContent: "", searchable: false },
                        { data: 'accountList', orderable: false, defaultContent: "", searchable: false },
                        { data: 'reportDate', orderable: false, defaultContent: "", searchable: false },
                        { data: 'deadline', orderable: false, defaultContent: "", searchable: false },
                        {
                            data: null,
                            orderable: false,
                            width: '1rem',
                            className: 'text-center',
                            searchable: false,
                            render: function (data, type, row, meta) {
                                return `<small style="font-size:0.8em;">${data.createdBy || ''}/${data.updatedByAccountant || ''}</small>`;
                            },
                        },
                        {
                            data: null,
                            defaultContent: '',
                            orderable: false, 
                            searchable: false,
                            render: function (data, type, row) {
                                if (isAdminOrAccountant || data.status == null || data.status.id < 3)
                                    return `<a href="/prepayments/${data.id}" class="text-info bi bi-pencil h4 m-0"></a>`
                                return ''
                            }
                        },
                        {
                            data: null,
                            defaultContent: '',
                            orderable: false, 
                            searchable: false,
                            render: function (data, type, row) {
                                if (isAdminOrAccountant || data.status == null || data.status.id < 3)
                                    return `<a href="/prepayments/${data.id}/delete" class="text-danger bi bi-trash-fill h4 m-0" onclick="return confirm('Удалить аванс?');"></a>`
                                return ''
                            }
                         }
                    ],
                    buttons: [
                        {
                            text: '&nbsp;СОЗДАТЬ НОВУЮ ПОДОТЧЕТНУЮ СУММУ',
                            className: 'btn btn-info fa-light fa-square-plus',
                            action: function (e, dt, node, config) {
                                window.location.href = '/prepayments/new'
                            }
                        }
                    ]
                });

            $('#request-table').on('click', 'tbody td .print', function(e){
                printDialog.dialog('open')
            })
        }
    );
</script>
{% endblock %}