{% extends 'main/base.html' %}
{% load prepayment_extras %}
{% load widget_tweaks %}
{% block title %}
  Реестр на банк
{% endblock %}

{% block content %}
  <form action="#" method="post" class="container">
    {% csrf_token %}

    <input id="add_ids" type="hidden" name="add_ids" />
    <input id="delete_ids" type="hidden" name="delete_ids" />

    {% url 'payments' as back_url %}
    {% include 'main/save_cancel.html' with path=back_url %}

    {{ form.errors }}
    {{ form.id }}

    <div class="row g-1">
      <div class="col-3">
        {% include 'main/input_group.html' with field=form.createDate label='Дата создания' inputClass='text-center datepeeker' labelStyle='width:130px' %}
      </div>

      <div class="col-12">
        {% include 'main/input_group.html' with field=form.name label='Наименование' labelStyle='width:130px' %}
      </div>

      {% if form.instance.id is None %}
        <div class="col-12 text-center">
          <h5>Отбор выданных авансов</h5>
          <div class="row g-1">
            <div class="col-4">
              {% include 'main/filters/period_filter.html' %}
            </div>
            <div class="col-4">
              {% include 'imprestAccount/filter.html' with options=imprestAccounts %}
            </div>

            <div class="col-4">
              {% include 'main/input_group.html' with field=form.obtainMethod inputClass='form-select' %}
            </div>

            <div class="col-4">
              {% include 'main/input_group.html' with field=form.prepaidDest label='Назначение' inputClass='form-select' %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-12 text-center">
          <h5>Отбор выданных авансов</h5>
          <div class="row g-1">
            <div class="col-2"><b>Банк: </b>{{ form.instance.obtainMethod.name }}</div>

            <div class="col-4"><b>Назначение аванса: </b>{{ form.instance.prepaidDest.name }}</div>
          </div>
        </div>
      {% endif %}
    </div>
  </form>

  <div class="container pt-1">
    <div class="row">
      <div class="col">
        <table id="prepayment-table" class="table table-sm table-bordered dtr-inline w-100 table-header-sm" style="font-size: 1em;">
          <thead>
            <tr>
              <th scope="col" rowspan="2" data-dt-order="disable">Код учета</th>
              <th scope="col" colspan="3" data-dt-order="disable">Подотчетное лицо</th>
              <th scope="col" colspan="3" data-dt-order="disable">Документ</th>

              <th scope="col" rowspan="2" data-dt-order="disable" style="width: 80px;">Сумма</th>
              <th scope="col" colspan="2" data-dt-order="disable">Банк</th>

              {% comment %} <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th> {% endcomment %}
            </tr>
            <tr>
              <th scope="col" data-dt-order="disable">Подр.</th>
              <th scope="col" data-dt-order="disable">Таб.</th>
              <th scope="col" data-dt-order="disable" data-width="40%">ФИО</th>

              <th scope="col" data-dt-order="disable">Тип</th>
              <th scope="col" data-dt-order="disable">Номер</th>
              <th scope="col" data-dt-order="disable" style="width: 40%px;">Дата</th>

              <th scope="col" data-dt-order="disable" style="width: 80px;">Наименование</th>
              <th scope="col" data-dt-order="disable" style="width: 80px;">Лицевой счет</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    const addIdsInput = $('#add_ids')
    const deleteIdsInput = $('#delete_ids')
    
    $(document).ready(function () {
      obtainMethodFilter = $('#id_obtainMethod')
      $('.datepeeker').datepicker()
    
      var prepaymentTable = $('#prepayment-table').DataTable({
        ajax: {
          url: '{% url "payment-prepayments" pk=form.instance.id|default:"add" %}',
          data: function (d) {
            d.format = 'datatables'
            {% if form.instance.id is None %}
              if (obtainMethodFilter && obtainMethodFilter.val()) d.obtainMethod = obtainMethodFilter.val()
              if (imprestAccountFilter && imprestAccountFilter.val()) d.imprestAccount = imprestAccountFilter.val()
              if (periodFilter.find('#period-from').val()) d.periodFrom = periodFilter.find('#period-from').val()
              if (periodFilter.find('#period-to').val()) d.periodTo = periodFilter.find('#period-to').val()
            {% endif %}
            d.columns.push({data: 'repeatNext', searchable: false})
          },
          dataSrc: function (json) {
            addIdsInput.val(json.ids)
            return json.data
          }
        },
        rowCallback: function(row, data) {
          if (data.repeatNext != null)
            $(row).addClass('text-decoration-line-through');
        },
        stateSave: false,
        rowId: 'id',
        order: [],
        columns: [
          { data: 'prepayment.imprestAccount.account', orderable: false, defaultContent: '', searchable: false },
    
          {
            data: 'prepayment.empDivNum',
            orderable: false,
            render: function (data, type, row) {
              return String(data).padStart(3, '0')
            }
          },
          { data: 'prepayment.empNum', orderable: false },
          { data: 'prepayment.empFullName', orderable: false },
    
          {
            data: null,
            orderable: false,
            searchable: false,
            render: function (data, type, row, meta) {
              return data.prepayment.document ? data.prepayment.document.name : ''
            }
          },
          {
            data: null,
            orderable: false,
            searchable: false,
            render: function (data, type, row, meta) {
              if (data.prepayment.wc07pOrder) return data.prepayment.wc07pOrder.orderNum
              else return data.prepayment.docNum
            }
          },
          {
            data: null,
            orderable: false,
            searchable: false,
            render: function (data, type, row, meta) {
              if (data.prepayment.wc07pOrder) return data.prepayment.wc07pOrder.orderDate
              else return data.prepayment.docDate
            }
          },
    
          { data: 'prepayment.totalSum', orderable: false, searchable: false, className: 'text-right text-nowrap', render: $.fn.dataTable.render.number(' ', ',', 2) },
          { data: 'obtainMethod.name', orderable: false, defaultContent: '', searchable: false },
          { data: 'accountNumber', orderable: false, defaultContent: '', searchable: false }
    
          //deleteColumn("{% url 'prepayments' %}", null, 'Удалить аванс из реестра?')
        ]
      })
    
      {% if form.instance.id is None %}
        periodFilter
          .find('.datepeeker')
          .datepicker()
          .on('change', function (e) {
            prepaymentTable.ajax.reload()
          })
      
        periodFilter.find('button').on('click', function (e) {
          prepaymentTable.ajax.reload()
        })
      
        imprestAccountFilter.on('change', function (e) {
          prepaymentTable.ajax.reload()
        })

        obtainMethodFilter.on('change', function (e) {
          prepaymentTable.ajax.reload()
        })
      {% endif %}
    })
  </script>
{% endblock %}
