{% extends 'main/base.html' %}
{% load widget_tweaks %}
{% block title %}
  Сумма на банк
{% endblock %}

{% block content %}
  <form action="#" method="post" class="container">
    {% csrf_token %}

    {% url 'payment_prepayments' as back_url %}
    {% include 'main/save_cancel.html' with path=back_url %}

    {{ form.non_field_errors }}
    {{ form.id }}

    <div class="row g-1">
      <div class="col-2">
        Банк {{ form.instance.prepaymentItem.obtainMethod.name}}
      </div>

      <div class="col-5">
        {% include 'main/input_group.html' with field=form.accountNumber inputClass='text-center' %}
      </div>

      <div class="col-4"></div>

      <div class="col-3">
        Срок перечисления {{ form.instance.prepaymentItem.date}}
      </div>
    </div>
  </form>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.datepeeker').datepicker()
    })
  </script>
{% endblock %}
