{% extends 'main/base.html' %}

{% block title %}
  Реестр авансовых сумм, перечисленных на банки
{% endblock %}

{% block content %}
  <style>
    .table-warning {
      background-color: #f2c464;
    }
  </style>
  <div class="alert alert-primary" role="alert" style="display: none;"></div>

  <div class="row">
    <div class="col-3">
      {% include 'main/filters/period_filter.html' %}
    </div>
    {% if statuses %}
      <div class="col-3">
        {% include 'status/status_filter.html' with options=statuses %}
      </div>
    {% endif %}
    <div class="col-3">
      <fieldset class="input-group-sm btn-group btn-group-sm mb-1" aria-label="Статус" role="group">
        <span class="input-group-text">Статус:</span>
        <input type="radio" class="btn-check" name="archive-radio" id="archive-radio1" autocomplete="off" value="" checked="" />
        <label class="btn btn-outline-success" for="archive-radio1" title="Все">ВСЕ</label>
        <input type="radio" class="btn-check" name="archive-radio" id="archive-radio2" autocomplete="off" value="False" />
        <label class="btn btn-outline-success" for="archive-radio2" title="Только архивные">АРХ</label>
        <input type="radio" class="btn-check" name="archive-radio" id="archive-radio3" autocomplete="off" value="True" />
        <label class="btn btn-outline-success" for="archive-radio3" title="Только не архивные">НЕ АРХ</label>
      </fieldset>
    </div>
  </div>

  <table id="request-table" class="table table-sm table-bordered table-hover dtr-inline w-100 table-header-sm text-center" style="font-size: 0.9em;">
    <thead>
      <tr>
        <th scope="col" rowspan="2" data-dt-order="disable">Код учета</th>

        <th scope="col" colspan="3" data-dt-order="disable" style="width: 20%;">Подотчетное лицо</th>
        <th scope="col" rowspan="2" data-dt-order="disable" data-width="5%;">Сумма</th>
        <th scope="col" colspan="3" data-dt-order="disable">Документ</th>
        <th scope="col" colspan="2" data-dt-order="disable">Банк</th>

        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 80px;">Срок</th>

        <th scope="col" colspan="2" data-dt-order="disable" style="width: 80px;">Реестр</th>

        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th>
        <th scope="col" rowspan="2" data-dt-order="disable" style="width: 35px;"></th>
      </tr>
      <tr>
        <th scope="col" data-dt-order="disable">Подр.</th>
        <th scope="col" data-dt-order="disable">Табельный</th>
        <th scope="col" data-dt-order="disable" style="width: 40%;">ФИО</th>

        <th scope="col" data-dt-order="disable">Тип</th>
        <th scope="col" data-dt-order="disable">Номер</th>
        <th scope="col" data-dt-order="disable" style="width: 80px;">Дата</th>

        <th scope="col" data-dt-order="disable">Наименование</th>
        <th scope="col" data-dt-order="disable" style="width: 100px;">Лицевой счет</th>

        <th scope="col" data-dt-order="disable">№</th>
        <th scope="col" data-dt-order="disable" style="width: 80px;">Дата</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    let urlParams = new URLSearchParams(document.location.search)
    const isAdminOrAccountant = {{ isAdminOrAccountant|yesno:"true,false" }}

    $(document).ready(
        function () {
            var requestTable = $('#request-table').DataTable(
                {
                    ajax: {
                        url: '{% url "paymentprepayment-list" %}',
                        data: function (d) {
                            d.format = 'datatables'
                            let imprestAccount = urlParams.get("imprestAccount")
                            if (imprestAccount)
                                d.imprestAccount=imprestAccount
                            if ($('#period-from').val()) {
                                d.periodFieldName = 'prepayment__docDate'
                                d.periodFrom=$('#period-from').val()
                            }
                            if ($('#period-to').val()) {
                                d.periodFieldName = 'prepayment__docDate'
                                d.periodTo=$('#period-to').val()
                            }
                            if (statusFilter && statusFilter.val()) {
                                d.statusField = 'prepayment__status__id'
                                d.statusFilter = statusFilter.val()
                            }
                            const archiveFilterValue = $('input[name="archive-radio"]:checked').val();
                            if (archiveFilterValue != '') {
                                d.hasPayment = archiveFilterValue
                            }
                            
                            d.columns.push({data: 'prepayment__wc07pOrder.orderNum', searchable: true})
                            d.columns.push({data: 'prepayment__imprestAccount.account', searchable: true})
                            d.columns.push({data: 'prepayment__docNum', searchable: true})
                        }
                    },
                    rowId: 'id',
                    order: [],
                    rowCallback: function(row, data) {
                        if (data.repeatNext != null)
                          $(row).addClass('text-decoration-line-through');
                        if (data.payment != null)
                          return
                        const deadline = new parseDate(data.deadline);
                        if (!deadline) return;
                        const today = new Date();
                        const twoDaysFromNow = new Date(today);
                        twoDaysFromNow.setDate(today.getDate() - 2);
                        if (deadline >= twoDaysFromNow && deadline <= today) {
                            $(row).addClass('table-warning');
                        }
                    },
                    columns: [
                        { data: 'prepayment.imprestAccount.account', orderable: false, defaultContent: "", searchable: false },
                        { data: 'prepayment.empDivNum', orderable: false, render: function (data, type, row) {
                                return String(data).padStart(3, '0');
                            }  
                        },
                        { data: 'prepayment.empNum', orderable: false },
                        { data: 'prepayment.empFullName', orderable: false, className: 'text-start' },
                        { data: 'prepayment.totalSum', orderable: false, searchable: false, className: 'text-right text-nowrap', render: $.fn.dataTable.render.number( ' ', ',', 2 )  },

                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                return data.prepayment.document?data.prepayment.document.name:'';
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.prepayment.wc07pOrder)
                                    return data.prepayment.wc07pOrder.orderNum
                                else 
                                    return data.prepayment.docNum;
                            }
                        },
                        { data: null, orderable: false, searchable: false, render: function (data, type, row, meta) {
                                if (data.prepayment.wc07pOrder)
                                    return data.prepayment.wc07pOrder.orderDate
                                else 
                                    return data.prepayment.docDate;
                            }
                        },


                        { data: 'obtainMethod.name', orderable: false, defaultContent: "", searchable: false },
                        { data: 'accountNumber', orderable: false, defaultContent: "", searchable: false },
                        { data: 'deadline', orderable: false, defaultContent: "", searchable: false },
                        { data: 'payment.id', orderable: false, defaultContent: "", searchable: false },
                        { data: 'payment.createDate', orderable: false, defaultContent: "", searchable: false },
                        {
                          data: null,
                          defaultContent: '',
                          orderable: false,
                          searchable: false,
                          className: 'text-center align-middle px-1',
                          render: function (data, type, row) {
                            if (data.payment != null && data.repeatNext == null)
                              return `<a href="{% url 'payment_prepayments' %}/${data.id}/unpay" class="text-success m-0" title='Ввести неоплату' onclick="return confirm('Создать неоплату по данной выплате?');"><i class="fa-light fa-repeat fa-xl"></i></a>`
                            return ''
                          }	
                        },
                        editColumn("{% url 'payment_prepayments' %}", function(data) {return data.payment == null}),
                        deleteColumn("{% url 'payment_prepayments' %}", function(data) {return data.payment == null}, 'Удалить подготовленную сумму?'),
                    ],
                    buttons: [
                        {
                            extend: 'excel',
                            text: '<i class="fa-light fa-file-xls"></i>&nbsp;Excel',
                            className: 'btn-primary btn-sm'
                        },
                    ]
                });

            $('#request-table').on('click', 'tbody td .print', function(e){
                printDialog.dialog('open')
            })

            periodFilter.find('.datepeeker').datepicker().on('change', function (e) {
                requestTable.ajax.reload()
            })
            
            statusFilter.on('change', function (e) {
                requestTable.ajax.reload()
            })

            periodFilter.find('button').on('click', function (e) {
                requestTable.ajax.reload()
            })

            $('input[type="radio"]').click(function() {
                requestTable.ajax.reload()
            });
        }
    );
</script>
{% endblock %}
