{% extends 'main/base.html' %}

{% block title %}
  Интеграция. Выданные авансы
{% endblock %}

{% block content %}
  <div class="alert alert-primary" role="alert" style="display: none;"></div>
  <table id="prepayment-table" class="table table-sm table-bordered table-striped table-hover table-header-sm">
    <thead>
      <tr>
        <th style="width: 2rem">ID</th>
        <th style="width: 3rem">Н/БН</th>
        <th style="width: 6rem">Табельный</th>
        <th style="width: 6rem">Пункт сметы</th>
        <th style="width: 6rem">ID приказа</th>
        <th style="width: 6rem">№ Докум.</th>
        <th style="width: 6rem">Дата документа</th>
        <th style="width: 6rem">БИК</th>
        <th style="width: 6rem">Б. счет</th>
        <th style="width: 6rem">Б. субсчет</th>
      </tr>
    </thead>
  </table>

  <script type="text/javascript">
    $(document).ready(function () {
      var prepaymentTable = $('#prepayment-table').DataTable({
        ajax: {
          url: "{% url 'integration-prepayment-list' %}?format=datatables",
          data: function (d) {}
        },
        rowId: 'id',
        columns: [
          {
            data: 'pdId'
          },
          {
            data: 'pdSource'
          },
          {
            data: 'empOrgNo'
          },
          {
            data: 'xv26eiId'
          },
          {
            data: 'orderId'
          },
          {
            data: 'orderNo'
          },
          {
            data: 'orderDate'
          },
          {
            data: 'bic'
          },
          {
            data: 'acplAccount'
          },
          {
            data: 'acplSubaccount'
          }
        ],
        buttons: [
          {
            text: '<i class="fa-light fa-upload me-2"></i>&nbsp;Загрузить',
            className: 'btn btn-success btn-sm',
            action: function (e, dt, node, config) {
              const alertEl = $('.alert')
              $.get('/integration/prepayments/load', function (e) {
                alertEl.attr('class', 'alert alert-success')
                alertEl.html(e)
              })
                .fail(function (e) {
                  alertEl.attr('class', 'alert alert-danger')
                  alertEl.html(e.responseText)
                })
                .always(function () {
                  alertEl.show().delay(3000).fadeOut()
                  prepaymentTable.ajax.reload()
                })
            }
          }
        ]
      })
    })
  </script>
{% endblock %}
